CLUSTER_NAME=devtest
DISCOVERY_ZEN_PING_UNICAST_HOSTS=[ MASTER_IP ]
HTTP_ENABLED=true
INDEX_NUMBER_OF_REPLICAS=0
INDEX_NUMBER_OF_SHARDS=5
NETWORK_HOST=0.0.0.0
NODE_DATA=false
NODE_MASTER=true
NODE_NAME=MASTER_NAME
